Deep Learning/CNN & Transfer Learning/Ignore/
Deep Learning/Deep NN/Ignore/
Deep Learning/RNN, Transformers & Self-attention/data/
Deep Learning/Self Organising Map/Ignore/
Supervised & Unsupervised Learning/Capstone Project/Ignore/
Supervised & Unsupervised Learning/Customer Classification/data
Supervised & Unsupervised Learning/Customer Segmentation (Clustering)/data
Supervised & Unsupervised Learning/Ensemble Methods/Ignore
Supervised & Unsupervised Learning/Dimension Reduction & Predictive Modelling/Ignore